In [2]:
import numpy as np
import pandas as pd
labels=['a','b','c']
my_data=[10,20,30]
arr=np.array(my_data)
d={'a':10,'b':20,'c':30}

In [6]:
pd.Series(data=my_data,index=labels) #index change to labels value

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [12]:
[sum,print,len]

[<function sum(iterable, /, start=0)>,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 <function len(obj, /)>]

In [14]:
ser1=pd.Series([1,2,3,4,5],['USA','Germany','USSR','India','Japan'])
ser2=pd.Series([1,2,6,4],['USA','Italy','Germany','India'])
ser1['India']

4

In [16]:
ser1+ser2

Germany    8.0
India      8.0
Italy      NaN
Japan      NaN
USA        2.0
USSR       NaN
dtype: float64

In [22]:
np.random.randn(5,4)

array([[-0.45802699,  0.43516349, -0.58359505,  0.81684707],
       [ 0.67272081, -0.10441114, -0.53128038,  1.02973269],
       [-0.43813562, -1.11831825,  1.61898166,  1.54160517],
       [-0.25187914, -0.84243574,  0.18451869,  0.9370822 ],
       [ 0.73100034,  1.36155613, -0.32623806,  0.05567601]])

In [24]:
np.random.seed(100)
df=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])#data here 2d 0 uniform disutribution of 5 row, 4 colmn, 2nd arg is index,3rd colmns
df

          W         X         Y         Z
A -1.749765  0.342680  1.153036 -0.252436
B  0.981321  0.514219  0.221180 -1.070043
C -0.189496  0.255001 -0.458027  0.435163
D -0.583595  0.816847  0.672721 -0.104411
E -0.531280  1.029733 -0.438136 -1.118318